<div class="box">

            <a href="https://www.cnn.com/2020/06/23/politics/aaron-zelinsky-roger-stone/index.html"target='_blank'><h1 class="left">Ex-Stone prosecutor says Stone treated differently 'because of his relationship to the President'</h1></a><a href="https://www.foxnews.com/politics/insurgents-from-the-left-threaten-to-upend-dem-party-plans-in-tuesday-primaries"target='_blank'><h1 class="right">Insurgents from the left threaten to upend Dems Party plans in primaries</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/world/meanwhile-in-america-june-19-intl/index.html"target='_blank'><h1 class="left">Analysis: Presidential debates and Modi's China challenge</h1></a><a href="https://www.foxnews.com/politics/second-presidential-debate-moving-from-michigan-to-florida"target='_blank'><h1 class="right">Second presidential debate moving from Michigan to Florida</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.nbcnews.com/news/us-news/officials-tell-protesters-leave-seattle-s-autonomous-zone-n1231821"target='_blank'><h1 class="left">Officials tell protesters to leave Seattle's police-free  'autonomous zone'</h1></a><a href="https://www.foxnews.com/politics/officers-clear-protesters-from-outside-white-house-defund-the-police-graffiti"target='_blank'><h1 class="right">Protesters cleared outside White House; ‘Defund the Police’ graffiti removed</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/business/jcpenney-store-closings/index.html"target='_blank'><h1 class="left">JCPenney is closing another 13 stores</h1></a><a href="https://www.foxnews.com/politics/pence-falls-while-boarding-air-force-2-signals-he-is-okay"target='_blank'><h1 class="right">Pence falls while boarding Air Force 2, signals he is OK</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/videos/politics/2020/06/23/donald-trump-racial-slur-coronavirus-dr-leana-wen-sot-vpx-ac360.cnn"target='_blank'><h1 class="left">Doctor says patients spitting on Asian American nurses</h1></a><a href="https://www.foxnews.com/politics/sen-mcsally-give-americans-4000-to-take-a-vacation"target='_blank'><h1 class="right">This senator wants to pay you thousands to take a vacation</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/tech/trump-twitter-violence-warning/index.html"target='_blank'><h1 class="left">Twitter puts warning on Trump tweet for 'threat of harm' against DC protesters</h1></a><a href="https://www.foxnews.com/politics/twitter-slaps-warning-label-on-trump-tweet-about-autonomous-zone-says-it-violates-abusive-behavior-policy"target='_blank'><h1 class="right">Twitter slaps warning label on Trump tweet about 'autonomous zone,' says it violates 'abusive behavior' policy</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/opinions/work-visa-freeze-health-cost-trump-neill/index.html"target='_blank'><h1 class="left">The hidden health cost of Trump's visa freeze</h1></a><a href="//www.foxnews.com/politics/biden-campaign-trump-comments-on-venezuela"target='_blank'><h1 class="right">Biden campaign goes after Trump comments on Venezuela</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/tech/trump-twitter-violence-warning/index.html"target='_blank'><h1 class="left">Twitter puts warning on Trump tweet for 'threat of harm' against DC protesters</h1></a><a href="//www.foxnews.com/politics/twitter-slaps-warning-label-on-trump-tweet-about-autonomous-zone-says-it-violates-abusive-behavior-policy"target='_blank'><h1 class="right">
Twitter slaps warning label on Trump tweet about 'autonomous zone,' says it violates 'abusive behavior' policy</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/politics/kentucky-new-york-primary-voting/index.html"target='_blank'><h1 class="left">Kentucky, New York voters head to polls in primaries reshaped by coronavirus pandemic</h1></a><a href="https://www.dailywire.com/news/8-times-dr-fauci-revised-the-coronavirus-narrative"target='_blank'><h1 class="right">8 Times Dr. Fauci Revised The Coronavirus Narrative</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/videos/politics/2020/06/23/donald-trump-i-dont-kid-contradicts-officials-joke-bash-crn-sot-vpx.cnn"target='_blank'><h1 class="left">'Mind-blowing': See what happened after Trump's officials tried to clean up his remarks</h1></a><a href="https://www.foxnews.com/politics/insurgents-from-the-left-threaten-to-upend-dem-party-plans-in-tuesday-primaries"target='_blank'><h1 class="right">Insurgents from the left threaten to upend Dems Party plans in primaries</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/health/coronavirus-pandemic-racism-fauci-bn/index.html"target='_blank'><h1 class="left">Institutional racism contributes to Covid-19's 'double whammy' on the Black community, Fauci says</h1></a><a href="https://www.foxnews.com/politics/fauci-says-institutional-racism-contributes-to-coronavirus-impacting-black-communities"target='_blank'><h1 class="right">Doc defends Trump comments on tests, explains impact on black communities</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.nbcnews.com/news/us-news/map-track-summer-2020-coronavirus-hotspots-united-states-n1231332"target='_blank'><h1 class="left">Map: Summer is bringing a new wave of coronavirus hotspots.</h1></a><a href="https://www.dailywire.com/news/8-times-dr-fauci-revised-the-coronavirus-narrative"target='_blank'><h1 class="right">8 Times Dr. Fauci Revised The Coronavirus Narrative</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.nbcnews.com/news/us-news/map-track-summer-2020-coronavirus-hotspots-united-states-n1231332"target='_blank'><h1 class="left">Map: Summer is bringing a new wave of coronavirus hotspots.</h1></a><a href="//www.foxnews.com/politics/fda-distances-white-house-coronavirus-response"target='_blank'><h1 class="right">FDA distances itself from White House coronavirus response</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.nbcnews.com/news/us-news/map-track-summer-2020-coronavirus-hotspots-united-states-n1231332"target='_blank'><h1 class="left">Map: Summer is bringing a new wave of coronavirus hotspots.</h1></a><a href="https://www.foxnews.com/politics/fda-distances-white-house-coronavirus-response"target='_blank'><h1 class="right">FDA distances itself from White House coronavirus response</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/politics/nancy-pelosi-republican-police-bill-get-away-with-murder/index.html"target='_blank'><h1 class="left">Pelosi says Republicans are 'trying to get away with murder' with policing bill</h1></a><a href="https://www.foxnews.com/politics/pelosi-republicans-george-floyd"target='_blank'><h1 class="right">Pelosi says Republicans 'trying to get away with murder' of George Floyd</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.nbcnews.com/news/us-news/nascar-drivers-stand-behind-bubba-wallace-after-noose-incident-n1231773"target='_blank'><h1 class="left">NASCAR drivers stand behind Bubba Wallace after noose incident</h1></a><a href="https://www.dailywire.com/news/breaking-fbi-concludes-no-federal-crime-committed-in-bubba-wallace-noose-case"target='_blank'><h1 class="right">FBI Concludes ‘No Federal Crime’ Committed In Bubba Wallace ‘Noose’ Case</h1></a>
            
        </div>
        <div class="box">

            <a href="https://www.cnn.com/2020/06/23/politics/nancy-pelosi-republican-police-bill-get-away-with-murder/index.html"target='_blank'><h1 class="left">Pelosi says Republicans are 'trying to get away with murder' with policing bill</h1></a><a href="https://www.dailywire.com/news/pelosi-senate-gop-is-trying-to-get-away-with-the-murder-of-george-floyd-cbs-offers-no-pushback"target='_blank'><h1 class="right">Pelosi: Senate GOP Is ‘Trying To Get Away With’ The ‘Murder Of George Floyd’. CBS Offers No Pushback.</h1></a>
            
        </div>
        