        body {
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
        }
        .ps {
            background-color: whitesmoke;
            border: none;
            font-weight: bold;
            height: 100%;
            color: chocolate;
            font-size: 120%;
            width: 5%
        }
        .top {

            width: 101%;
            height: 75px;
            background-color: chocolate;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1000;
        }
        .menu {
            height: 100%;
            background-color: chocolate;
            border: none;
            font-size: 150%;

        }
        .menu:hover {
            transition-duration: .3s;
            color: whitesmoke;
        }
        .box {
            transition-delay: .2s;
            border-radius: 1%;
            width: 75%;
            width: 75%;
            height: 500px;
            background-color: navajowhite;
            margin-top: 1%;
            align-self: center;
            margin-left: 5%;
        }
        .box:hover {
            transition-duration: .5s;
            background-color: slategray;


        }
        .bottom {
            width: 100%;
            height: 20%;
            background-color: black;
            color: whitesmoke;

        }
        .symbol {
            text-align: center;
            vertical-align: bottom;
            padding-top: 6%;
        }
        img {

            position: relative;
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 45%;
            height: 50%;
            margin: 2.5%;
            margin-top: 2.5%;
        }